.Nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  left: 0px;
  height: 100vh;
  min-width: 40px;
  background-color: rgba(0, 0, 0, 0.655);
  box-shadow: 2px 0px 1px rgba(0, 0, 0, 0.655);
  > div {
    width: 20px;
    margin: 8px 0px;
    cursor: pointer;
    color: white;
  }
  > div:hover {
    size: 2;
    opacity: 0.5;
  }
}
