.NotFound {
  font-size: x-large;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(42, 42, 42);
  color: white;
  position: absolute;
  left: 0px;
  height: 100%;
  width: 100%;
  font-weight: 900;
  h1 {
    padding-bottom: 70px;
  }
  p {
    font-size: 50px;
    margin-bottom: 0px;
  }
  .SadFace {
    margin-left: 20px;
  }
  .Icon {
    cursor: pointer;
  }
}
